/* == LAYOUT == */

main {
  width: 100vw;
  height: 100vh;
  background-color: #0D192C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats,
.price,
.date,
.creator {
  display: flex;
  align-items: center;
}

.creator {
  gap: 16px;
}

.stats {
  justify-content: space-between;
}

.product-img {
  margin-bottom: 24px;
}

.product-title {
  margin-bottom: 16px;
}

.product-desc {
  margin-bottom: 24px;
}

.stats {
  margin-bottom: 24px;
}

/* == TYPOGRAPHY == */

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit.ttf') format('truetype');
}

.heading {
  font-family: 'Outfit';
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
}

.heading:hover {
  color: #00FFF8;
}

.body {
  font-family: 'Outfit';
  font-size: 18px;
  line-height: 26px;
  font-weight: light;
  color: #8BACD9;
}

.caption {
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 400;
  color: #8BACD9;
}

.caption-bold {
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: bold;
  color: #00FFF8;
}

.caption span {
  color: #FFF;
  cursor: pointer;
}

.caption span:hover {
  color: #00FFF8;
}

/* == CARD == */

.card {
  background-color: #15263F;
  padding: 24px;
  border-radius: 16px;
}

.product-img {
  width: 302px;
  height: 302px;
  border-radius: 8px;
  background-image: url('./images/image-equilibrium.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.product-img:hover {
  background-image:
    url('./images/image-equilibrium.jpg'),
    linear-gradient(rgba(0, 255, 248, 0.5), rgba(0, 255, 248, 0.5)),
    url('./images/icon-view.svg');
  background-size: cover, cover, 48px;
  background-position: center, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-blend-mode: overlay, overlay, normal;
}

.product-desc {
  width: 302px;
}

/* == CREATOR == */

.creator {
  border-top: 1px solid #2E405A;
  padding-top: 16px;
}

.creator-avatar {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 50%;
}